<nav class="md:flex bg-sky-800 py-2 md:justify-around ">
      
        <span class="text-2xl">WeatherApp</span>
        <ul class="md:flex ml-5 md:justify-around">
          <li><a class="cursor-pointer hover:text-white text-gray-300 text-xl mr-2" href="/index">home</a> </li>
          <li><a class="cursor-pointer hover:text-white text-gray-300 text-xl mr-2" href="/weather">weather</a> </li>
          <li><a class="cursor-pointer hover:text-white text-gray-300 text-xl mr-2" href="/about"> About</a> </li>
        </ul>
      
</nav>