<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  {{>links}}
  {{>style}}
  
</head>
<body>

   {{>header}}


<!-- About -->
<div class="md:flex md:justify-around mt-10 md:m-16">

   
<div>
    <img class="h-[70vh] md:w-[40vh] md:h-[60vh]" src="images/about.png" alt="">
</div>
<div class=" jusify-center md:mt-16 my-10 mx-2">
 <p class="text-xs invisible md:visible md:mt-20 text-3xl md:mt-2">This is <span class=" text-sky-600">Akshat Agrawal</span> click button to visit my portfolio.</p>
 <div class="flex md:flex-col mx-5 jusify-center">
<div class="md:w-[400px] text-3xl md:mt-2 ">I am a <span class="text-sky-600">MERN Stack Developer and a Freelancer</span> </div>
<button class="px-4 py-2 mt-1 md:mt-8 rounded-md bg-sky-600 hover:text-sky-600 border-2 border-sky-600  hover:bg-white  ">Check Now</button>

 </div>
</div>
</div>


{{>footer}}



</body>
</html>