<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.tailwindcss.com"></script>
  
</head>
<body>
<!-- HOME -->
    <!-- Navbar -->
    <nav class="flex bg-sky-800 py-2 justify-around ">
      
        <span class="text-2xl">WeatherApp</span>
        <ul class="flex justify-around">
          <li><a class="cursor-pointer   hover:text-white text-gray-300 text-xl mr-2" href="./index.html">Home</a> </li>
          <li><a class="cursor-pointer   hover:text-white text-gray-300 text-xl mr-2" href="#">weather</a> </li>
          <li><a class="cursor-pointer  hover:text-white text-gray-300 text-xl mr-2" href="./about.html"> About</a> </li>
        </ul>
      
    </nav>
   
<!-- Main -->
<div class="flex justify-around mt-24">

   
<div>
    <img style="height: 50vh;width: 30vw;" src="images/about.png" alt="">
</div>
<div style="width: 500px;" class="mt-10">
  <div>Welcome to Akshat Agrawal World</div>
<div class="text-3xl mt-2">I am a <span class="text-sky-600">MERN Stack Developer and a Freelancer</span> </div>
<button class="px-4 py-2 mt-3 rounded-md bg-sky-600 hover:text-sky-600 border-2 border-sky-600  hover:bg-white  ">Check Now</button>
</div>
</div>


<!-- Footer  -->
<footer class="bg-sky-900 mt-28 flex justify-center mx-auto py-5">
  <span>
    Created by Akshat Agrawal
  </span>

</footer>

</body>
</html>